@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

body{
  font-family: 'Nunito', sans-serif;
  background-color: #c4f1ff;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: grid;
  margin: 0;
}
.container .inner{
  clip-path: circle(10% at 90% 20%);
  transition: all .5s ease-in-out; 
  background-color: #16e7eb;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem;
  width: 400px;
}

.inner:hover{
  clip-path: circle(75%);
  background-color: rgb(36, 248, 188);
}

.inner span{
  transition: color .5s ease-in-out;
  position: relative;
  font-weight: bold;
  margin-right: 5.5%;
  margin-top: -4px;
  font-size: 2rem;
  color: #fff;
  float: right;
}

.container .inner h1{
  color: #fff;
  margin: 0;
}

.container .inner p{
  color: #fff;
  font-size: 1.2rem;

}
