@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

body{
  font-family: 'Nunito', sans-serif;
  background-color: #ccc;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: grid;
  margin: 0;
}